<h4>Environments</h4>

<div *ngIf="systemDescription.environments.length == 0" class="intro-container" >
    <app-intro [title]="'No environments defined yet.'" >
        <p>Add <a href="javascript:void(0);" (click)="addEnvironment(systemDescription)" > first environment.</a></p>
        <p>An environment names an instance of the system used for a specific purpose, e.g. DEV, QA, Production</p>
    </app-intro>
</div>

<app-panel *ngIf="systemDescription.environments.length > 0">
    <table class="table table-sm table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Key</th>
            <th scope="col">Label</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let environment of systemDescription.environments">
            <th scope="row"></th>
            <td>{{environment.key}}</td>
            <td>{{environment.label}}</td>
            <td>
                <div class="btn  btn-sm btn-outline-primary float-right m-2"
                     (click)="editEnvironment(systemDescription, environment)">Edit
                </div>
                <div class="btn  btn-sm btn-outline-primary float-right m-2"
                     (click)="removeEnvironment(environment)">Remove
                </div>
            </td>

        </tr>
        </tbody>
    </table>
    <div class="btn  btn-sm btn-outline-primary float-right m-2"
         (click)="addEnvironment(systemDescription)">
        Add
    </div>
</app-panel>

<jw-modal [id]="environmentDialogId()">
    <app-environment-dialog [spec]="environmentDialogSpec"></app-environment-dialog>
</jw-modal>

<jw-modal [id]="confirmationDialogId()">
    <app-confirmation-dialog [spec]="confirmationDialogSpec"></app-confirmation-dialog>
</jw-modal>
