<div class="item-container">
<ng-container *ngIf="item.root">
    <div class="navigation-section">
        <fa-icon [icon]="selectIcon"></fa-icon>
        &nbsp;
        <select *ngIf="item.navItems" [ngModel]="item.navItems" class="form-select navigation-select"  (ngModelChange)="selectNav($event)">
            <option>-- select --</option>
            <option [ngValue]="navItem" *ngFor="let navItem of item.navItems">
                {{navItem.label}}
            </option>
        </select>
    </div>
</ng-container>
<ng-container *ngIf="!item.root">
    <div class="table-container">
        <div class="title-section">
            {{item.label}}
        </div>
        <div class="table-section">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th *ngFor="let column of item.columns">{{column}}</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let row of item.rows">
                    <td *ngFor="let value of row.values">
                        {{value}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="item.navItems" class="navigation-section">
            <fa-icon [icon]="selectIcon"></fa-icon>
            <select class="form-select navigation-select" *ngIf="item.navItems">
                <option *ngFor="let navItem of item.navItems">
                    {{navItem.label}}
                </option>
            </select>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="item.children">
    <div class="children-container">
        <ng-container *ngFor="let child of item.children">
            <div class="child-container">
                <app-navigation-tree-item [item]="child" [depth]="depth+1"></app-navigation-tree-item>
            </div>
        </ng-container>
    </div>
</ng-container>
</div>
