<div style="min-height: 80vh; max-height: 80vh; overflow: auto">
    <ng-container *ngIf="output.jsonOutput">
        <pre>{{output.jsonOutput | json}}</pre>
    </ng-container>
    <ng-container *ngIf="output.stackTraceOutput" >
        <div class="bg-warning">
            {{output.stackTraceOutput}}
        </div>
    </ng-container>
    <ng-container *ngIf="output.tabularResponse">
        <app-table [tabular]="output.tabularResponse" (onRowSelect)="selectTableRow($event)"></app-table>
    </ng-container>
</div>
