<ng-container *ngIf="!collapsed()">
    <div class="sidebar">
        <ul class="nav nav-pills flex-column">
            <li *ngFor="let action of actions" class="nav-item">
                <ng-container >
                    <a href="javascript:void(0);" class="nav-link" [class.active]="action.id==active"
                       (click)="navigateTo(action.route)">
                        <span *ngIf="action.level==1">&nbsp; &nbsp; </span> {{action.label}}
                    </a>
                </ng-container>
            </li>
        </ul>
    </div>
</ng-container>
