<ng-container *ngIf="systemDescription$ | async as systemDescription">
    <ng-container *ngIf="!connected">
        <form [formGroup]="formGroup">
            <div class="d-flex">
                <div class="ps-3">
                    <select id="systemComponentKey" formControlName="systemComponentKey" class="form-select">
                        <option [ngValue]="null" selected disabled>Datasource</option>
                        <option *ngFor="let systemComponent of systemDescription.systemComponents" [ngValue]="systemComponent.key">{{systemComponent.key}}</option>
                    </select>
                </div>
                <div class="ps-1">
                    <select id="environmentKey" formControlName="environmentKey" class="form-select">
                        <option [ngValue]="null" selected disabled>Environment</option>
                        <option *ngFor="let environment of systemDescription.environments" [ngValue]="environment.key">{{environment.key}}</option>
                    </select>
                </div>
                <div class="ps-1">
                    <button type="button" class="btn btn-outline-primary" (click)="connect()" [disabled]="!formGroup.valid">
                        <fa-icon [icon]="faBolt"></fa-icon>
                    </button>
                </div>
            </div>
        </form>
    </ng-container>
    <ng-container *ngIf="connected">
        <div class="d-flex connection-container">
            <div class="ps-3">
                <div class="form-text">{{systemComponentKeyControl.value}}</div>
            </div>
            <div class="ps-1">
                <div class="form-text">{{environmentKeyControl.value}}</div>
            </div>
            <div class="ps-1">
                <button type="button" class="btn btn-outline-primary btn-sm disconnect-button" (click)="disconnect()">
                    <fa-icon [icon]="faTimes"></fa-icon>
                </button>
            </div>
        </div>
    </ng-container>
</ng-container>

