<div *ngIf="formGroup && spec"  class="modal-dialog">
    <div class="modal-content">
        <app-modal-header [title]="'Connection settings'" (onCancel)="cancel()"></app-modal-header>
        <div class="modal-body">
            <form [formGroup]="formGroup">
                <div class="form-floating mb-3" >
                    <select id="environmentKey" formControlName="environmentKey" class="form-select" [class.is-invalid]="environmentKeyControlInvalid()" (change)="onEnvironmentChange()" >
                        <option *ngFor="let environment of spec.environments"
                                [ngValue]="environment.key">{{environment.key}}</option>
                    </select>
                    <label for="environmentKey" class="form-label">Environment</label>
                    <app-validation-messages [control]="environmentKeyControl()"></app-validation-messages>
                </div>

                <div class="form-floating  mb-3">
                    <select disabled id="systemComponentKey" formControlName="systemComponentKey" class="form-select" [class.is-invalid]="systemComponentKeyControlInvalid()" (change)="onSystemComponentKeyChange()" >
                        <option *ngFor="let systemComponent of spec.systemComponents"
                                [ngValue]="systemComponent.key">{{systemComponent.key}}</option>
                    </select>
                    <label for="systemComponentKey" class="form-label">Datasource</label>
                    <app-validation-messages [control]="systemComponentKeyControl()"></app-validation-messages>
                </div>

                <ng-container formArrayName="settings">
                    <ng-container *ngFor="let settingDescriptor of settingDescriptors; let i=index">
                        <div class="form-floating mb-3">
                            <input [id]="settingDescriptor.key" [formControl]="settingValueControl(i)" [placeholder]="settingDescriptor.placeHolder" type="text" class="form-control" [class.is-invalid]="settingValueControlInvalid(i)">
                            <label [for]="settingDescriptor.key" >{{settingDescriptor.description}}</label>
                            <!-- <div id="label" class="form-text">{{settingDescriptor.placeHolder}}</div>-->
                        </div>
                    </ng-container>
                </ng-container>

                <br>
                <span>
                    <button type="button" class="btn btn-outline-primary" [disabled]="connectionTester?.testRunning" (click)="runTest()">
                        <fa-icon  [icon]="faBolt"></fa-icon> Test Connection
                    </button>
                    &nbsp;
                    <ng-container *ngIf="connectionTester?.testRunning">
                        <span><img src="/assets/loading.gif" height="100px" alt="image" (click)="cancelTest()"></span>
                    </ng-container>
                    <ng-container *ngIf="connectionTester?.testResult">
                        <fa-icon *ngIf="connectionTester.testResult.result" size="2x" [icon]="faCheckCircle" style="vertical-align:bottom; color: mediumseagreen"></fa-icon>
                        <span>
                            <fa-icon *ngIf="!connectionTester.testResult.result" size="2x" [icon]="faCheckCircle" style="vertical-align:bottom; color: orangered"></fa-icon>
                            {{connectionTester.testResult.message}}
                        </span>
                    </ng-container>
                </span>

            </form>
        </div>
        <app-modal-footer (onConfirm)="confirm()" (onCancel)="cancel()" [confirmDisabled]="!formGroup.valid"></app-modal-footer>
    </div>
</div>