<div *ngIf="descriptor" class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <app-panel>
                <div style="min-height: 80vh">
                    <form [formGroup]="formGroup">
                        <ng-container formArrayName="fields">
                            <ng-container *ngFor="let item of descriptor.items; let i=index">
                                <ng-container *ngIf="item.inputType==='TEXT'">
                                    <input type="text" class="form-control" [formControl]="fieldControl(i)" [placeholder]="item.placeholder" >
                                </ng-container>
                                <ng-container *ngIf="item.inputType==='TEXTAREA'">
                                    <textarea rows="12" class="form-control" [formControl]="fieldControl(i)" [placeholder]="item.placeholder" ></textarea>
                                </ng-container>
                                <ng-container *ngIf="item.inputType==='SELECT'">
                                    <select class="form-control" [formControl]="fieldControl(i)">
                                        <option *ngFor="let selectValue of item.selectValues"
                                                [ngValue]="selectValue">{{selectValue}}</option>
                                    </select>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                        <button type="button" class="btn btn-outline-secondary" (click)="doQuery()">
                            <fa-icon [icon]="faPlay"></fa-icon>
                        </button>
                        <button type="button" class="btn btn-outline-secondary" (click)="clear()">
                            <fa-icon [icon]="faTimes"></fa-icon>
                        </button>
                    </form>

                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" [class.active]="tabState==='SNIPPETS'" (click)="selectTab('SNIPPETS')" href="javascript:void(0);">
                                Snippets
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [class.active]="tabState==='HISTORY'" (click)="selectTab('HISTORY')" href="javascript:void(0);">
                                History {{historyCount()}}
                            </a>
                        </li>
                    </ul>
                    <ng-container *ngIf="tabState==='SNIPPETS'">
                        <app-snippet-panel [snippets]="snippets" (onSelect)="snippetSelected($event)" (onEdit)="snippetEdit($event)" (onDelete)="snippetDelete($event)"></app-snippet-panel>
                    </ng-container>
                    <ng-container *ngIf="tabState==='HISTORY'">
                        <app-history-panel [historyItems]="historyItems"
                                           (onConvert)="convertHistoryItemToSnippet($event)"
                                           (onSelect)="selectHistoryItem($event)"
                                           (onDelete)="deleteHistoryItem($event)"
                        >
                        </app-history-panel>
                    </ng-container>
                </div>
            </app-panel>
        </div>
        <div class="col-md-9">
            <app-panel *ngIf="output$ | async as queryPanelStates">
                <ng-container *ngFor="let queryPanelId of getKeys(queryPanelStates)">
                    <app-query-panel [spec]="getQueryPanelSpec(queryPanelStates[queryPanelId], queryPanelId)">
                    </app-query-panel>
                </ng-container>
            </app-panel>
        </div>
    </div>

</div>

<jw-modal [id]="snippetDialogId()">
    <app-snippet-dialog [spec]="snippetDialogSpec"></app-snippet-dialog>
</jw-modal>

<jw-modal [id]="confirmationDialogId()">
    <app-confirmation-dialog [spec]="confirmationDialogSpec"></app-confirmation-dialog>
</jw-modal>
