@import '../../variables';

.backdrop {
  background-color: $storybook-secondary-100;
  min-height: 100vh;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav-collapsed {
  height: 100%;
  width: 20px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.main {
  margin-left: 160px;
  padding: 0px 10px;
}

.main-full-screen {
  margin-left: 20px;
  padding: 0px 10px;
}

