<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <ng-container *ngTemplateOutlet="sidebar"></ng-container>
        </div>
        <div class="col-md-10">
            <div class="container-fluid">
                <div class="row">
                    <ng-container *ngTemplateOutlet="title"></ng-container>
                    <ng-container *ngTemplateOutlet="breadcrumb"></ng-container>
                </div>
                <div class="row">
                    <ng-container *ngTemplateOutlet="middle"></ng-container>
                </div>
            </div>
        </div>
    </div>
</div>


