<ng-container *ngIf="documents">

    <div class="table-container">
        <div class="title-section">
            <app-pager [paging]="documents.pagingInfo" (onPageSelected)="selectPage($event)"></app-pager>
        </div>
        <div class="table-section">
            <table class="table table-bordered table-hover">
                <tbody>
                <div *ngFor="let document of documents.documents" >
                    {{document}}
                </div>
                </tbody>
            </table>
        </div>
    </div>
</ng-container>
