<div *ngIf="spec && formGroup"  class="modal-dialog">
    <div class="modal-content">
        <app-modal-header [title]="'Create Snippet'" (onCancel)="cancel()"></app-modal-header>
        <div class="modal-body">
            <form [formGroup]="formGroup">
                <div class="form-floating  mb-3">
                    <input id="title" formControlName="title" type="text" class="form-control" placeholder="enter title" [class.is-invalid]="titleControlInvalid()">
                    <label for="title" class="form-label" >Name</label>
                </div>
                <div>
                    <ng-container formArrayName="fields">
                        <ng-container *ngFor="let item of spec.descriptor.items; let i=index">
                            <ng-container *ngIf="item.inputType==='TEXT'">
                                <input type="text" class="form-control" [formControl]="fieldControl(i)">
                            </ng-container>
                            <ng-container *ngIf="item.inputType==='TEXTAREA'">
                                <textarea rows="12" class="form-control" [formControl]="fieldControl(i)"></textarea>
                            </ng-container>
                            <ng-container *ngIf="item.inputType==='SELECT'">
                                <select class="form-control" [formControl]="fieldControl(i)">
                                    <option *ngFor="let selectValue of item.selectValues"
                                            [ngValue]="selectValue">{{selectValue}}</option>
                                </select>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </div>
            </form>
        </div>
        <app-modal-footer (onConfirm)="confirm()" (onCancel)="cancel()" [confirmDisabled]="!formGroup.valid"></app-modal-footer>
    </div>
</div>