<app-panel>
    <h4>Metadata</h4>

    <ng-container *ngIf="loading">
        <app-loading></app-loading>
    </ng-container>
    <ng-container *ngIf="!loading">
        <ng-container *ngIf="structureDTo != null">
            <div class="btn  btn-sm btn-outline-primary float-right m-2" (click)="addMetaModel(systemDescription)">
                Reload
            </div>
            <pre >{{ structureDTo | json }}</pre>
        </ng-container>
        <ng-container *ngIf="structureDTo == null">
            <app-intro [title]="'No Metadata available'">
                <p><a href="javascript:void(0);" (click)="addMetaModel(systemDescription)"> Fetch</a> the metadata from an environment. </p>
            </app-intro>
        </ng-container>
    </ng-container>
</app-panel>


<jw-modal [id]="metaModelDialogId()">
    <app-meta-model-dialog [spec]="metaModelDialogSpec"></app-meta-model-dialog>
</jw-modal>

