<ng-container *ngIf="tabular">

    <div class="table-container">
        <div class="title-section">
            <app-pager [paging]="tabular.pagingInfo" (onPageSelected)="selectPage($event)"></app-pager>
        </div>
        <div class="table-section">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th *ngFor="let column of tabular.columns">
                        {{column.name}}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let row of tabular.rows" (click)="selectRow(row)" [class.table-active]="row===selected" style="cursor: pointer;">
                    <td *ngFor="let column of tabular.columns; let idx = index" >
                        {{row.values[idx]}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-container>
