<app-layout-1col
        [sidebar]="sidebar"
        [title]="title"
        [breadcrumb]="breadcrumb"
        [middle]="middle"
>
</app-layout-1col>

<ng-template #sidebar>
    <app-side-bar [active]="'console'"></app-side-bar>
</ng-template>

<ng-template #title>
    <div class="d-flex flex-row">
        <app-title text="Console"></app-title>
        <ng-container *ngIf="systemDescription$ | async as systemDescription">
            <app-data-source-selection-panel [systemDescription]="systemDescription" (selected)="selectDataSource($event)"></app-data-source-selection-panel>
        </ng-container>
    </div>
</ng-template>

<ng-template #breadcrumb>
    <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
</ng-template>

<ng-template #middle>
    <div class="intro-container" *ngIf="!selectedDataSource">
        <app-intro [title]="'Datasource connection required.'" >
            <p>Use the <a (click)="goto.settingsPage()" href="javascript:void(0);">settings page</a> to set up environments and datasources.</p>
            <p>Select a Datasource and Environment from the menu to connect.</p>
        </app-intro>
    </div>
    <app-console-panel *ngIf="selectedDataSource" [dataSource]="selectedDataSource"></app-console-panel>
</ng-template>