<app-layout-1col
        [sidebar]="sidebar"
        [title]="title"
        [breadcrumb]="breadcrumb"
        [middle]="middle"
>
</app-layout-1col>

<ng-template #sidebar>
    <app-side-bar [active]="'settings'"></app-side-bar>
</ng-template>

<ng-template #title>
    <div class="row">
        <h3>Settings</h3>
    </div>
</ng-template>


<ng-template #breadcrumb>
    <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
</ng-template>


<ng-template #middle>
    <ng-container *ngIf="systemTypeDescriptors$ | async as systemTypeDescriptors">
        <div *ngIf="systemDescription$ | async as systemDescription" class="mt-4">
            <div class="container-fluid" >
                <div class="row">
                    <div class="col-md-2">
                        <app-nav [spec]="leftNavigation"></app-nav>
                    </div>
                    <div class="col-md-10">
                        <ng-container [ngSwitch]="selectedSystemDescriptionTab">
                            <ng-container *ngSwitchCase="'ENVIRONMENTS'">
                                <app-environment-panel [systemDescription]="systemDescription"></app-environment-panel>
                            </ng-container>
                            <ng-container *ngSwitchCase="'SYSTEM'">
                                <app-system-component-panel
                                        [systemDescription]="systemDescription"
                                        [systemTypes]="systemTypeDescriptors"
                                        (selectionChanged)="systemComponentSelectionChanged($event)"
                                        [selection]="selectedSystemComponent">
                                </app-system-component-panel>
                                <br>
                                <ng-container *ngIf="selectedSystemComponent">
                                    <h4>{{selectedSystemComponent.label}} details</h4>
                                    <ul class="nav nav-tabs">
                                        <li class="nav-item">
                                            <a class="nav-link"
                                               [class.active]="selectedDataSourceTab==='SETTINGS'"
                                               (click)="selectDataSourceTab('SETTINGS')"
                                               href="javascript:void(0);">
                                                Connection settings
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link"
                                               [class.active]="selectedDataSourceTab==='METADATA'"
                                               (click)="selectDataSourceTab('METADATA')"
                                               href="javascript:void(0);">
                                                Metadata
                                            </a>
                                        </li>
                                    </ul>
                                    <ng-container [ngSwitch]="selectedDataSourceTab">
                                        <ng-container *ngSwitchCase="'SETTINGS'">
                                            <app-settings-panel
                                                    [systemDescription]="systemDescription"
                                                    [systemTypes]="systemTypeDescriptors"
                                                    [systemComponent]="selectedSystemComponent">
                                            </app-settings-panel>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'METADATA'">
                                            <app-meta-model-panel
                                                    [systemDescription]="systemDescription"
                                                    [systemComponent]="selectedSystemComponent">
                                            </app-meta-model-panel>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

</ng-template>

