
<app-panel>
    <h4>Connection settings</h4>

    <div *ngIf="systemDescription.environments.length == 0" class="intro-container" >
        <app-intro [title]="'No environments defined yet.'" >
            <p>First create an environment to connect the datasource to.</p>
        </app-intro>
    </div>

    <div *ngIf="systemDescription.environments.length > 0 && settingRowsForSystemComponent().length == 0" class="intro-container" >
        <app-intro [title]="'No connection defined yet.'" >
            <p>Add <a href="javascript:void(0);" (click)="addSetting(systemDescription)" > first connection </a> to an environment.</p>
        </app-intro>
    </div>


    <table *ngIf="settingRowsForSystemComponent().length > 0"  class="table table-sm table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col">Environment</th>
            <th scope="col">Datasource</th>
            <th scope="col">Settings</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let settingRow of settingRowsForSystemComponent()">
            <td>{{settingRow.environmentKey}}</td>
            <td>{{settingRow.systemComponentKey}}</td>
            <td>
                <div *ngFor="let setting of settingRow.settings">
                    {{setting.key}} = {{setting.value}}
                </div>
            </td>
            <td>
                <div class="btn  btn-sm btn-outline-primary float-right m-2"
                     (click)="editSetting(systemDescription, settingRow)">Edit
                </div>
                <div class="btn  btn-sm btn-outline-primary float-right m-2"
                     (click)="removeSetting(systemDescription, settingRow)">Remove
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="btn  btn-sm btn-outline-primary float-right m-2"
         (click)="addSetting(systemDescription)">
        Add
    </div>
</app-panel>

<jw-modal [id]="settingsDialogId()">
    <app-settings-dialog [spec]="settingsDialogSpec"></app-settings-dialog>
</jw-modal>

<jw-modal [id]="confirmationDialogId()">
    <app-confirmation-dialog [spec]="confirmationDialogSpec"></app-confirmation-dialog>
</jw-modal>
