<div *ngIf="spec" class="modal-dialog">
  <div class="modal-content">
    <app-modal-header [title]="spec.title" (onCancel)="cancel()"></app-modal-header>
    <div class="modal-body">
      <p>{{spec.message}}</p>
      <p><div *ngIf="spec.warning">
        <fa-icon  [icon]="faExclamationTriangle" size="2x" class="text-danger"></fa-icon>
        {{spec.warning}}
      </div>
    </div>
    <app-modal-footer (onConfirm)="confirm()" (onCancel)="cancel()" [confirmText]="'Yes'" [cancelText]="'No'"></app-modal-footer>
  </div>
</div>
