<app-layout-1col
        [title]="title"
        [breadcrumb]="breadcrumb"
        [middle]="middle"
>
</app-layout-1col>

<ng-template #title>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <h3>
                    Snapshots
                </h3>
            </div>
            <div class="col-md-1">
                <a class="btn  btn-sm btn-outline float-right m-2" routerLink="/fe/systemdescription/">Settings</a>
            </div>
            <div class="col-md-1">
                <a class="btn  btn-sm btn-outline float-right m-2" routerLink="/fe/console/">Console</a>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #breadcrumb>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"></li>
        </ol>
    </nav>
</ng-template>

<ng-template #middle>
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div *ngIf="summaries$ | async as summaries">
                    <ul class="list-group">
                        <li *ngFor="let summary of summaries" class="list-group-item">
                            <a routerLink="/fe/snapshot/{{summary.snapshotId.id}}">{{summary.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <a class="btn  btn-sm btn-outline-primary float-right" (click)="createSnapshot()">Take snapshot</a>
            </div>
        </div>

    </div>
</ng-template>

<jw-modal [id]="snapshotDialogId()">
    <app-snapshot-dialog [spec]="spec"></app-snapshot-dialog>
</jw-modal>
